<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingdon.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="top.kingdon.dataobject.po.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="videoId" column="video_id" jdbcType="INTEGER"/>
            <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="replayTo" column="replay_to" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_id,user_address,
        content,replay_to,created_at
    </sql>
    <select id="getAllCommentData" resultType="top.kingdon.dataobject.vo.CommentVO">
        select comment.id as id, video_id, comment.user_address as user_address,content, replay_to,
               comment.created_at as created_at, username,profile_image_cid as profile_photo_cid,title,cover_cid
        from
            comment left join users on comment.user_address=users.address
                    left join videos on comment.video_id = videos.id
        <where>
            <if test="address != null and address != ''">
                and comment.user_address = #{address}
            </if>
            <if test="search != null and search != ''">
                and videos.title like concat('%',#{search},'%') or users.username like concat('%',#{search},'%')
            </if>
        </where>
        <foreach collection="orderMap" item="value" index="key" separator="," open="order by">
            ${key} <if test="value == true">desc</if>
        </foreach>
    </select>
</mapper>
