<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingdon.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="top.kingdon.dataobject.po.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="videoId" column="video_id" jdbcType="INTEGER"/>
            <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="replayTo" column="replay_to" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_id,user_address,
        content,replay_to,created_at
    </sql>
</mapper>
