<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingdon.mapper.VideoStarMapper">

    <resultMap id="BaseResultMap" type="top.kingdon.dataobject.po.VideoStar">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="videoId" column="video_id" jdbcType="INTEGER"/>
            <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="canceledAt" column="canceled_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_id,user_address,
        created_at,canceled_at
    </sql>
    <update id="updateCanceledAt">
        update video_star set canceled_at = NOW() where video_id = #{videoId} and user_address =
        #{userAddress}
    </update>
    <select id="startedVideos" resultType="top.kingdon.dataobject.po.Videos">
        select videos.*, video_star.canceled_at as ord from videos,video_star
        where videos.id = video_star.video_id
          and video_star.user_address = #{userAddress}
          and video_star.canceled_at is null
          and videos.canceled_at is null
        order by ord desc;
    </select>
</mapper>
