<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingdon.mapper.VideosMapper">

    <resultMap id="BaseResultMap" type="top.kingdon.dataobject.po.Videos">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="cid" column="cid" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="coverCid" column="cover_cid" jdbcType="VARCHAR"/>
            <result property="coverPath" column="cover_path" jdbcType="VARCHAR"/>
            <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
            <result property="series" column="series" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cid,title,
        description,cover_cid,cover_path,
        user_address,series,created_at,
        updated_at
    </sql>
</mapper>
