<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingdon.mapper.VideoLikeMapper">

    <resultMap id="BaseResultMap" type="top.kingdon.dataobject.po.VideoLike">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="videoId" column="video_id" jdbcType="INTEGER"/>
            <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="canceledAt" column="canceled_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_id,user_address,
        created_at,canceled_at
    </sql>
    <select id="likedVideos" resultType="top.kingdon.dataobject.po.Videos">
        select videos.*, video_like.created_at as ord from videos,video_like
        where videos.id = video_like.video_id
          and video_like.user_address = #{userAddress}
          and video_like.canceled_at is null
        and videos.canceled_at is null
        order by ord desc
    </select>
    <update id="updateCanceledAt">
        update video_like set canceled_at = now() where video_id = #{videoId} and user_address = #{userAddress} and canceled_at is null
    </update>
</mapper>
