<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingdon.mapper.VideoTransferMapper">

    <resultMap id="BaseResultMap" type="top.kingdon.dataobject.po.VideoTransfer">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="from" column="from" jdbcType="VARCHAR"/>
            <result property="to" column="to" jdbcType="VARCHAR"/>
            <result property="videoId" column="video_id" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,from,to,
        video_id,created_at
    </sql>
</mapper>
