<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingdon.mapper.VisitRecordMapper">

    <resultMap id="BaseResultMap" type="top.kingdon.dataobject.po.VisitRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
            <result property="api" column="api" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_address,api,
        created_at
    </sql>
</mapper>
